<li>

  <%= gravatar_for user, size: 50 %>
  <%= link_to @user.first_name, @user %>
  <% if current_user.admin? && !current_user?(@user) %>
      | <%= link_to "delete", @user, method: :delete, :confirm => "You sure?", :title => "Delete #{@user.name}" %>
  <% end %>
</li>