
<div class="center jumbotron">
  <h1>Welcome to MyGym</h1>
  <p></p>
<h2>Please make sure you have signed up to log in!</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

 </div
 
 <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>