<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fitness - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <title>Fitness-The Gym Club | Bootstrap | Free Responsive Website Templates</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css">
    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="top-bar">
        <!-- top-bar -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs bdr">
                    <div class="time-info">
                        <p class="time-text">Mon - Sat : 6 am-9pm - Sun : 8am-6pm</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs bdr">
                    <div class="call-info">
                        <!-- call-info -->
                        <p class="call-no">+1 (800)-123-456 / 856</p>
                    </div>
                    <!-- /.call-info -->
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs bdr">
                    <div class="mail-info">
                        <p class="mail-text">fitnessgym@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="top-search">
                        <div class="custom-search-input">
                            <div class="input-group  ">
                                <input type="text" class="  search-query form-control" placeholder="Search">
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                        </span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <div class="header">
            <!-- navigation -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="logo">
                            <a href="index.html"><%= link_to image_tag("logo.png", alt: "Fitness Website Template")%></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="navigation pull-right" id="navigation">
                            <ul>
                                <li><a href="classes-list.html" title="Classes" class="animsition-link">Classes List</a>
                                    <ul>
                                        <li><a href="classes-list.html" title="Classes List">classes List</a></li>
                                        <li><a href="classes-detail.html" title="Classes Detail">classes Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-default.html" title="Blog" class="animsition-link">Blog Default</a>
                                    <ul>
                                        <li><a href="blog-default.html" title="Blog" class="animsition-link">Blog Default</a></li>
                                        <li><a href="blog-single.html" title="Blog Single" class="animsition-link">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="testimonial.html" title="Features" class="animsition-link">Features</a>
                                    <ul>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">Testimonial</a></li>
                                        <li><a href="pricing.html" title="Pricing" class="animsition-link">Pricing</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html" title="Contact Us" class="animsition-link">Contact</a> </li>
                                <li><a href="style-guide.html" title="Style Guide" class="animsition-link">style guide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="page-caption pinside40">
                        <h1 class="page-title">PRICING</h1>
                           
                           <style>
                            .page-caption {
                            background-image: url(/assets/gym3.jpg);
                            background-repeat: no-repeat;
                            </style>
                        <p>Sedenim magna gravida atelit euismod euismod duellentesque lacinia, dolor atviverra euismod quam ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-block mb30">
                        <div class="pricing-head">
                            <p class="pricing-title">3 Month Plan*</p>
                             <div class="price-detail">
                                 <span class="dollar">$</span>
                                 <span class="price">200</span>
                                 <span class="month">/  Mo.</span>
                             </div>
                        </div>
                        <div class="pricing-content text-center">
                            <ul class="listnone mb40">
                                <li>Full Facility Access</li>
                                <li>Unlimited Weight Classes</li>
                                <li>Custome Workout Plan</li>
                                <li>Nutrician Plan</li>
                            </ul>
                            <a href="contact.html" class="btn btn-default">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-block mb30">
                        <div class="pricing-head">
                        <p class="pricing-title">6 Month Plan*</p>
                            <div class="price-detail">
                                 <span class="dollar">$</span>
                                 <span class="price">400</span>
                                 <span class="month">/  Mo.</span>
                             </div>
                        </div>
                        <div class="pricing-content text-center">
                            <ul class="listnone mb40">
                                <li>Unlimited Weight Classes</li>
                                <li>Full Facility Access</li>
                                <li>Nutrician Plan</li>
                                <li>Custome Workout Plan</li>
                            </ul>
                            <a href="contact.html" class="btn btn-default">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="pricing-block mb30">
                        <div class="pricing-head">
                        <p class="pricing-title">1 yEAR Plan*</p>
                            <div class="price-detail">
                                 <span class="dollar">$</span>
                                 <span class="price">600</span>
                                 <span class="month">/  Mo.</span>
                             </div>
                        </div>
                        <div class="pricing-content text-center">
                            <ul class="listnone mb40">
                                <li>Nutrician Plan </li>
                                <li>Full Facility Access</li>
                                <li>Custome Workout Plan</li>
                                <li>Unlimited Weight Classes</li>
                            </ul>
                            <a href="contact.html" class="btn btn-default">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium section-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1 class="primary-title mb100">frequently ask Questions</h1>
                    <p class="question">Q.Donec eros turpis semper necnibh velultrices risus ?</p>
                    <p class="mb30">Suspendisse potenraseuroin consecttu some adiscg neces lorem gravida euroin odiectus gravi siamet lorem neces lorem gravida euroin odiectus gravida euroinconsecttu some adiscg elilors.</p>
                    <p class="question">Q. Aenean congue odio ac urna eftued finibus bibendum ?</p>
                    <p>Duis iaculis nun mauris vulputate elemeullam blandit lectus nisiac elementum dolor tincidunt aunc tempus elitac nisi molestinon cursus enim porttituis nece diam facilisis iaculis sem viverrafermentum risus.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p class="lead mb60">Dolor sit amet consectetur adipiscing elistibulum adipiscing consectetur adipiscing lorem erates.</p>
                    <p class="question">Q. Nam dignissim nislid pellentesque sagittis eros ?</p>
                    <p class="mb30">Pellentesque fringilla velit purusvel vulputate risus porttitorla cursus urnasit amet viverra iaculis erat dolor tempus velitquis varius lectus ligulaeu niquam ornare placerat tellusvel pellentesque duieuismod seonec facilisis.</p>
                    <p class="question">Q. Equip onec eros turpis semper nec nibh vel ultrices ?</p>
                    <p>Morbi consequat vitae exnec elementE umliquam lacuex sollicitudin bibendum venenatis sed pulvinar eget turpisenean congue odio acurna efficitur congue finibus bibendum velitet viverra velit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-logo mb30">
                        <%= link_to image_tag("logo.png", alt: "Fitness Website Template")%>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Contact Info</h3>
                        <ul class="listnone">
                            <li>
                                <address>
                                    2687 Broadcast Drive Monroe,
                                    <br> NC 28112
                                </address>
                            </li>
                            <li>+1 (800)-123-456 </li>
                            <li>fitnessgym@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="listnone">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="classes.html">Classes</a></li>
                            <li><a href="blog-default.html">News</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="contact.html">Contactus</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Connect With us</h3>
                        <div class="footer-social"><%= link_to image_tag("social-003_twitter.png", alt: "")%> <%= link_to image_tag("social-006_facebook", alt: "")%>
                           <%= link_to image_tag("social-009_google", alt: "")%>
                            <%= link_to image_tag("social-018_youtube", alt: "")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Copyrights@2017 | All Rights Reserve</p>
                </div>
            </div>
        </div>
    </div>
    <!-- back to top icon -->
    <a href="#0" class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menumaker.js"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js"></script>
    <script type="text/javascript" src="js/animsition-script.js"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript"></script>
</body>

</html>
