<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fitness - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <title>Fitness-The Gym Club | Bootstrap | Free Responsive Website Templates</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- animsition css -->
    <link rel="stylesheet" type="text/css" href="css/animsition.min.css">
    <!-- Font Awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="top-bar">
        <!-- top-bar -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs bdr">
                    <div class="time-info">
                        <p class="time-text">Mon - Sat : 6 am-9pm - Sun : 8am-6pm</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs bdr">
                    <div class="call-info">
                        <!-- call-info -->
                        <p class="call-no">+1 (800)-123-456 / 856</p>
                    </div>
                    <!-- /.call-info -->
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs bdr">
                    <div class="mail-info">
                        <p class="mail-text">fitnessgym@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="top-search">
                        <div class="custom-search-input">
                            <div class="input-group  ">
                                <input type="text" class="  search-query form-control" placeholder="Search">
                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                        </span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <div class="header">
            <!-- navigation -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="logo">
                            <%= link_to image_tag("logo.png"), alt: "Fitness Website Template")%></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="navigation pull-right" id="navigation">
                            <ul>
                                <li><a href="classes-list.html" title="Classes" class="animsition-link">Classes List</a>
                                    <ul>
                                        <li><a href="classes-list.html" title="Classes List">classes List</a></li>
                                        <li><a href="classes-detail.html" title="Classes Detail">classes Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-default.html" title="Blog" class="animsition-link">Blog Default</a>
                                    <ul>
                                        <li><a href="blog-default.html" title="Blog" class="animsition-link">Blog Default</a></li>
                                        <li><a href="blog-single.html" title="Blog Single" class="animsition-link">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="testimonial.html" title="Features" class="animsition-link">Features</a>
                                    <ul>
                                        <li><a href="testimonial.html" title="Testimonial" class="animsition-link">Testimonial</a></li>
                                        <li><a href="pricing.html" title="Pricing" class="animsition-link">Pricing</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html" title="Contact Us" class="animsition-link">Contact</a> </li>
                                <li><a href="style-guide.html" title="Style Guide" class="animsition-link">style guide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="page-caption pinside40">
                        <h1 class="page-title">Style Guide</h1>
                        <p>Aliquam pretium quam metusiaculis viverra metus mattisit ameullam condimentum hendrerit conguroin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- main-container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="mb30">Font Family</h1>
                    <h3>Heading Font</h3>
                    <p>Roboto Condensed</p>
                    <h3>Base Font</h3>
                    <p>Roboto</p>
                    <hr>
                </div>
                <div class="col-md-12 col-sm-12">
                    <h1 class="mb30">Typography</h1>
                    <h1>h1. Heading title - 32px</h1>
                    <h2>h2. Heading title - 20px</h2>
                    <h3>h3. Heading title - 18px</h3>
                    <h4>h4. Heading title - 16px</h4>
                    <h5>h5. Heading title - 14px</h5>
                    <h6>h6. Heading title - 12px</h6>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="mb30">Colors</h1>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="primary-box mb10"></div>
                            <div class="color-code">
                                <p class="text-center">Primary #c5f016</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="default-box mb10"></div>
                            <div class="color-code">
                                <p class="text-center">Default #383838</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="secondary-box mb10"></div>
                            <div class="color-code">
                                <p class="text-center">Secondary #2f2f2f</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-md-12 col-sm-12">
                    <h1>Base Copy</h1>
                    <p>Lorem ipsum dolor sit ametest link adipiscing elitullam dignissim convallis esuisque aliquamonec faucibuunc iaculis suscipit duiam sit amet sem Aliquam libero nisi imperdiet atincidunt nec gravida vehicula nisraesent mattis massa quis luctus fermentum turpis mi volutpat justoeu volutpat enim diam eget metusaecenas ornare toronec sed tellus eget sapien fringilla nonumm aurisa anteusp endisse quam seconsequat commodo vitae feugiat in nuncorbi mperdiet augue quislorem tellusorbi aliquam semper nibh aliquam variusnisl sagittis facilisis raesent convallis venenatis dolor a cursus ipsum imperdiet etIn pretium ligula elitt lorem ipsuk egestas purus aliquam ided ultrices tortordolor at commodo metus pulvinar velInteger dictum nisl id magna condimentum eleifend. </p>
                    <hr>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h1 class="mb30">Block Quote</h1>
                    <div class="post-block mb40 quote-block">
                        <div class="post-img">
                            <a href="#" class="imghover"><img src="images/blog-6.jpg" class="img-responsive" alt="Fitness Website Template"></a>
                        </div>
                        <div class="post-header">
                            <blockquote>
                                <p>“Your Body is Your Most Priceless Possession. take care Of it”</p>
                            </blockquote>
                            <div class="quote-name">
                                <p>- Thomas Buntin</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <hr>
                    <div class="mb80">
                        <!-- mb80 -->
                        <h1 class="mb30">List Types</h1>
                        <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <h3>Unordered</h3>
                                <ul>
                                    <li>Interdum et malesuada fames acante. </li>
                                    <li>Pellentesque auctor felisid maximus aliquet.</li>
                                    <li>Interdum et malesuada fames acante.</li>
                                    <li>Phasellus vitae dictum diam vitae condime.</li>
                                    <li>Aliquam hendrerit tempus neque a eleifend. </li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <h3>Ordered</h3>
                                <ol>
                                    <li>Interdum et malesuada fames acante. </li>
                                    <li>Pellentesque auctor felisid maximus aliquet.</li>
                                    <li>Interdum et malesuada fames acante.</li>
                                    <li>Phasellus vitae dictum diam vitae condime.</li>
                                    <li>Aliquam hendrerit tempus neque a eleifend. </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.mb80 -->
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h1 class="mb30">Buttons</h1>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"> <a href="#" class="btn btn-primary btn-lg mb10">Large button</a> <a href="#" class="btn btn-default btn-lg">Large button</a> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"> <a href="#" class="btn btn-primary mb10">Default button</a> <a href="#" class="btn btn-default">Default button</a> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"><a href="#" class="btn btn-primary btn-sm">Small button</a> <a href="#" class="btn btn-default btn-sm">Small button</a> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30"> <a href="#" class="btn btn-primary btn-xs">Extra small button</a> <a href="#" class="btn btn-default btn-xs">Extra small button</a>
                    <hr>
                </div>
                <div class="col-md-12">
                    <h1 class="mb30">Form Element</h1>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="sr-only control-label" for="text-field">Text Field</label>
                            <input id="text-field" name="text-field" type="text" class="form-control" placeholder="Text Field" required>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="sr-only control-label" for="textarea">Text Area</label>
                            <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder="Text Area"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <h1 class="mb30">Tables</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Table Header 1</th>
                                <th>Table Header 2</th>
                                <th>Table Header 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Division 1</td>
                                <td>Division 2</td>
                                <td>Division 3</td>
                            </tr>
                            <tr>
                                <td>Division 1</td>
                                <td>Division 2</td>
                                <td>Division 3</td>
                            </tr>
                            <tr>
                                <td>Division 1</td>
                                <td>Division 2</td>
                                <td>Division 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-logo mb30">
                        <img src="images/logo.png" class="" alt="Fitness Website Template">
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Contact Info</h3>
                        <ul class="listnone">
                            <li>
                                <address>
                                    2687 Broadcast Drive Monroe,
                                    <br> NC 28112
                                </address>
                            </li>
                            <li>+1 (800)-123-456 </li>
                            <li>fitnessgym@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="listnone">
                           
                            <li><a href="classes.html">Classes</a></li>
                            <li><a href="blog-default.html">News</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="contact.html">Contactus</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget mb30">
                        <h3 class="footer-title">Connect With us</h3>
                        <div class="footer-social"><%= link_to image_tag("social-003_twitter.png", alt: "")%> <%= link_to image_tag("social-006_facebook", alt: "")%>
                           <%= link_to image_tag("social-009_google", alt: "")%>
                            <%= link_to image_tag("social-018_youtube", alt: "")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Copyrights@2017 | All Rights Reserve</p>
                </div>
            </div>
        </div>
    </div>
    <!-- back to top icon -->
    <a href="#0" class="cd-top" title="Go to top">Top</a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menumaker.js"></script>
    <!-- sticky header -->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <!-- animsition -->
    <script type="text/javascript" src="js/animsition.js"></script>
    <script type="text/javascript" src="js/animsition-script.js"></script>
    <!-- Back to top script -->
    <script src="js/back-to-top.js" type="text/javascript"></script>
    <script>
    function initMap() {
        var myLatLng = {
            lat: 53.343109,
            lng: -6.267394
        };

        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 8,
            center: myLatLng,
            scrollwheel: false,

        });
        var image = 'images/map-pin.png';
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image,
            title: 'Hello World!'

        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?&callback=initMap" async defer></script>
</body>

</html>
