<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display
    -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#main-nav" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Admin Panel", admin_pages_url, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling
    -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Content", admin_pages_path %>
        </li>
        <li>
          <%= link_to "Categories", admin_categories_path %>
        </li>
        <li>
          <%= link_to "Menus", admin_menus_path %>
        </li>
        <li>
          <%= link_to "Types", admin_types_path %>
        </li>
        <li>
         <%= link_to "Users", admin_users_path %>
         </li>
      </ul>
    </div>
  </div>
</nav>
