  <footer class="footer">
      <small>
         Group Project by <a href="https://www.linkedin.com/in/julie-anne-glennon-18783157">Julie-Anne Glennon</a>
         <a href="https://www.linkedin.com/in/haider-bari-245bba108">Haider Bari</a>
          Student Numbers 2864184 | 2835713
      </small>
       
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Contact",   contact_path %></li>
            <li><% link_to "Pricing", pricing_path %></li>
          </ul>
        </nav>
      </div>
    </footer>