<!DOCTYPE html>
<html>
  <head>
    <meta/>
    <title>Admin Panel</title>
    <%= stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'scaffolds', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "admin_nav" %>
    <div class="container">
      <%= content_tag :div, notice, class: "flash bg-success" if notice %>
      <%= content_tag :div, alert, class: "flash bg-danger" if alert %>
      <%= yield  %>
    </div>
  </body>
</html>